mat-panel-title {
  width: 150px;
}

.info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.title {
  align-items: center;
}

.report {
  display: flex;
  flex-direction: column;
}

.btns {
  margin-left: auto;
}

.uploaded-file {
  display: flex;
  align-items: center;
}
