<mat-expansion-panel class="errand-container">
  <mat-expansion-panel-header class="errand-header">
    <mat-panel-title class="title"> {{ errand.title }} </mat-panel-title>
    <mat-panel-description class="info">
      <div class="dates">
        <div>Видано: {{ errand.started | date }}</div>
        <div>Дедлайн: {{ errand.deadline | date }}</div>
      </div>
      <div class="type">Тип: {{ errand.type }}</div>
      <div class="status">Статус: {{ errand.state }}</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="errand-body">
    <div class="description">
      <h3>Опис</h3>
      <p>
        {{ errand.body }}
      </p>
    </div>
    <div class="executors">
      <h3>Виконавці</h3>
      <ol>
        <li *ngFor="let executor of errand.users">
          {{ executor.firstName + ' ' + executor.lastName }}
        </li>
      </ol>
    </div>
    <div class="report">
      <ng-container *ngIf="errand.report; else notUploaded">
        <h3>Звіт</h3>
        <p>
          {{ errand.report.comment }}
        </p>
        <div class="uploaded-file">
          <mat-icon>article</mat-icon>
          {{ errand.report.files[0].name }}
        </div>
      </ng-container>
      <ng-template #notUploaded>
        <h3>Звіт не завантажений</h3>
      </ng-template>
    </div>
  </div>
  <div class="errand-actions">
    <ng-container *ngIf="authUserData?.role === UserRole.LEAD">
      <button mat-flat-button color="warn" (click)="delete()">
        Видалити доручення
      </button>
      <button mat-flat-button color="primary" (click)="openEditForm()">
        Редагувати
      </button>
    </ng-container>
    <ng-container *ngIf="authUserData?.role !== UserRole.LEAD">
      <button
        mat-flat-button
        color="warn"
        [disabled]="!errand.report"
        (click)="deleteReport()"
      >
        Видалити звіт
      </button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!!errand.report"
        (click)="openReportForm()"
      >
        Відправити звіт
      </button>
    </ng-container>
  </div>
</mat-expansion-panel>
