<mat-card class="errands-container">
  <div class="navigation">
    <app-filters></app-filters>
    <button
      class="create-errand-btn"
      *ngIf="authUserData?.role === UserRole.LEAD"
      mat-flat-button
      color="primary"
      (click)="openErrandsForm()"
    >
      Створити доручення
    </button>
  </div>
  <div class="errands-list">
    <ng-container *ngIf="errands$ | async as errands">
      <app-errand
        *ngFor="let errand of errands"
        [errand]="errand"
        (deleted)="onErrandDelete()"
      ></app-errand>
    </ng-container>
  </div>
</mat-card>
