<mat-drawer-container class="example-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <app-nav-menu></app-nav-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="toolbar">
      <h5>{{ title }}</h5>
      <div class="toolbar-spacer"></div>
      <div class="user-info">
        <span *ngIf="authenticatedUser" class="user-name">{{
          authenticatedUser?.firstName + ' ' + authenticatedUser?.lastName
        }}</span>
        <span *ngIf="authenticatedUser" class="user-role">{{
          authenticatedUser?.role
        }}</span>
      </div>
      <button mat-button *ngIf="authenticatedUser" (click)="logout()">
        Вийти
      </button>
    </mat-toolbar>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
