.progress-report-entry-container {
  margin-top: -1px;
}

mat-panel-title {
  width: 350px;
}

.info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.type {
  width: 200px;
}

.dates {
  width: 200px;
}

.title {
  align-items: center;
}
