/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel {
  box-shadow: none !important;
  border: solid 1px rgba(0, 0, 0, 0.12) !important;
  border-radius: 0 !important;
}
.mat-expansion-panel > .mat-expansion-panel-header {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
.mat-expansion-panel-body {
  margin-top: 10px;
  padding: 0 !important;
}
.mat-expansion-panel-header-title {
  font-weight: bold;
}
